.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .emission,
  .endurance {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .row {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
    }
    mat-form-field {
      width: 300px !important;
    }
    .row-conns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 635px;
      .item-conn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
        flex-grow: 1;
      }
    }
    .line {
      border: solid 1px grey;
      opacity: 0.5;
    }
  }
}

.header {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  b {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  button {
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
  }
}

.buttons {
  position: fixed;
  bottom: 10px;
  display: flex;
  gap: 10px;
}
