<div class="container">
  <h1>Norma PN-EN 61000-4-2</h1>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Temperatura </mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.temperature"
        [required]="true"
      />
      <span matTextSuffix>&deg;C</span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ciśnienie atmosferyczne </mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.pressure"
        [required]="true"
      />
      <span matTextSuffix>kPa</span>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Wilgotność</mat-label>
      <input
        max="100"
        type="number"
        matInput
        [(ngModel)]="data.basic_data.humidity"
        [required]="true"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Lista urządzeń pomiarowych</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.devices"
        [matAutocomplete]="auto"
        [required]="true"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (device of devices; track device){
        <mat-option [value]="device">{{ device }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-checkbox
      [(ngModel)]="data.is_table_top"
      [required]="!data.is_table_top && !data.is_floor_standing"
      >Table top</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="data.is_floor_standing"
      [required]="!data.is_table_top && !data.is_floor_standing"
      >Floor standing</mat-checkbox
    >
  </div>
  <ng-container *ngIf="data.is_table_top || data.floor_standing">
    <mat-accordion class="results" multi>
      <ng-container *ngIf="data.is_table_top">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Table top</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">Contact</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['contact'].level"
                [required]="data.is_table_top"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['contact'].criterion"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['contact'].required_crit"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">Air</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['air'].level"
                [required]="data.is_table_top"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['air'].criterion"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['air'].required_crit"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">VCP</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['vcp'].level"
                [required]="data.is_table_top"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['vcp'].criterion"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['vcp'].required_crit"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">HCP</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['hcp'].level"
                [required]="data.is_table_top"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['hcp'].criterion"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.table_top['hcp'].required_crit"
                [required]="data.is_table_top"
              />
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="data.is_floor_standing">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Floor standing</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">Contact</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['contact'].level"
                [required]="data.is_floor_standing"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['contact'].criterion"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['contact'].required_crit"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
          <div class="row">Air</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['air'].level"
                [required]="data.is_floor_standing"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['air'].criterion"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['air'].required_crit"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
          <div class="row">VCP</div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Poziom </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['vcp'].level"
                [required]="data.is_floor_standing"
              />
              <span matTextSuffix>kV</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Osiągnięte kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['vcp'].criterion"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Wymagane kryterium </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="data.floor_standing['vcp'].required_crit"
                [required]="data.is_floor_standing"
              />
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </ng-container>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Komentarz</mat-label>
      <textarea matInput [(ngModel)]="data.basic_data.comment"></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Wynik </mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.result"
        [required]="true"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data badań</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="data.basic_data.date"
        [required]="true"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Badania wykonał </mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.contractor"
        [required]="true"
      />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      mat-raised-button
      routerLink="{{
        normIndex === 0
          ? '/result'
          : '/norm/' + inputs.inputs.results.endurance[normIndex - 1].norm
      }}"
    >
      Wróć
    </button>
    <button
      mat-raised-button
      routerLink="/norm/{{
        normIndex + 1 !== inputs.inputs.results.endurance.length
          ? inputs.inputs.results.endurance[normIndex + 1].norm
          : inputs.inputs.results.endurance[normIndex].norm
      }}"
      (click)="
        next(
          normIndex + 1 === inputs.inputs.results.endurance.length
            ? true
            : false
        )
      "
    >
      {{
        normIndex + 1 === inputs.inputs.results.endurance.length
          ? "Zapisz"
          : "Dalej"
      }}
    </button>
  </div>
</div>
