<div class="container">
  <h1>Norma PN-EN 61000-4-5</h1>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Temperatura </mat-label>
      <input type="text" matInput [(ngModel)]="data.basic_data.temperature" />
      <span matTextSuffix>&deg;C</span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ciśnienie atmosferyczne </mat-label>
      <input type="text" matInput [(ngModel)]="data.basic_data.pressure" />
      <span matTextSuffix>kPa</span>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Wilgotność</mat-label>
      <input
        max="100"
        type="number"
        matInput
        [(ngModel)]="data.basic_data.humidity"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lista urządzeń pomiarowych</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="data.basic_data.devices"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (device of devices; track device){
        <mat-option [value]="device">{{ device }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Klasa ochronności urządzenia </mat-label>
      <input type="text" matInput [(ngModel)]="security" />
    </mat-form-field>
  </div>
  <ng-container *ngIf="isPower || isSignal">
    <mat-accordion multi>
      <div *ngIf="isPower">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Zasilanie</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="results" *ngFor="let item of dataPower">
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Sprzężenie </mat-label>
                <input type="text" matInput [(ngModel)]="item.interface" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Efektywna impedancja urządzenia </mat-label>
                <input type="text" matInput [(ngModel)]="item.impedance" />
                <span matTextSuffix>{{ "\u03a9" }}</span>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Poziom </mat-label>
                <input type="text" matInput [(ngModel)]="item.level" />
                <span matTextSuffix>kV</span>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Osiągnięte kryterium </mat-label>
                <input type="text" matInput [(ngModel)]="item.criterion" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Wymagane kryterium </mat-label>
                <input type="text" matInput [(ngModel)]="item.req_criterion" />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div *ngIf="isSignal">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Sygnał</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="results" *ngFor="let item of dataSignal; let i = index">
            Port sygnałowy {{ item.port }}
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Sprzężenie </mat-label>
                <input type="text" matInput [(ngModel)]="item.interface" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Efektywna impedancja urządzenia </mat-label>
                <input type="text" matInput [(ngModel)]="item.impedance" />
                <span matTextSuffix>{{ "\u03a9" }}</span>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Poziom </mat-label>
                <input type="text" matInput [(ngModel)]="item.level" />
                <span matTextSuffix>kV</span>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Osiągnięte kryterium </mat-label>
                <input type="text" matInput [(ngModel)]="item.criterion" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Wymagane kryterium </mat-label>
                <input type="text" matInput [(ngModel)]="item.req_criterion" />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </ng-container>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Kąty sprzężenia </mat-label>
      <input type="text" matInput [(ngModel)]="data.interface_angle" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Liczba impulsów dodatnich </mat-label>
      <input type="text" matInput [(ngModel)]="data.positive_bursts" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Liczba impulsów ujemnych </mat-label>
      <input type="text" matInput [(ngModel)]="data.negative_bursts" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Odstęp między impulsami </mat-label>
      <input type="text" matInput [(ngModel)]="data.bursts_gap" />
    </mat-form-field>
  </div>
  <div class="line"></div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Komentarz</mat-label>
      <textarea matInput [(ngModel)]="data.basic_data.comment"></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Wynik </mat-label>
      <input type="text" matInput [(ngModel)]="data.basic_data.result" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data badań</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="data.basic_data.date"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Badania wykonał </mat-label>
      <input type="text" matInput [(ngModel)]="data.basic_data.contractor" />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-raised-button routerLink="/norm/en44">Wróć</button>
    <button mat-raised-button routerLink="/norm/en46" (click)="next()">
      Dalej
    </button>
  </div>
</div>
