.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .row {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  mat-form-field {
    width: 300px !important;
  }
  .buttons {
    position: fixed;
    bottom: 10px;
    display: flex;
    gap: 10px;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .line {
    border: 1px solid grey;
    opacity: 0.5;
    width: 100%;
    margin-bottom: 22px;
  }

  .signal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  mat-expansion-panel {
    margin-bottom: 22px !important;
  }
}
